@font-face {
    font-family: 'PT Sans Narrow';    
    src: url('../fonts/PTN57F.ttf') format('truetype')
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PTN77F.ttf') format('truetype')
    font-weight: bold;
    font-style: normal;
}
html,
body{
	margin: 0;
	padding: 0;
}
body{
	min-width: 960px;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: white;
	background: #000 url("../img/body-img.jpg") no-repeat center top;
}
/*img{
	max-width: 100%;
	height: auto;
}*/
.inner-page{
	color: #000000;
	background: #f8f5f2 url("../img/bg.png");
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;	
}
.main-header{
	margin-bottom: 60px;
	color: white;
	background-color: black;
}
.inner-page .main-header{
	margin-bottom: 55px;
}
.main-navigation{
	min-height: 70px;
	width: 780px;
	float: left;
}
.main-navigation .menu-logo{	
	float: left;
	width: 111px;
	height: 20px;
}
.main-navigation .menu-logo:hover{
	background: none;
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;	
}
.main-navigation a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 25px 20px;
	transition: all ease 0.2s;
}
.main-navigation a:hover{
	background: #242424;
}
.main-navigation .active{
	position: relative;
	background-color: none;
}
.main-navigation .active::after{
	content: "";
	position: absolute;
	height: 5px;
	background-color: white;
	left: 20px;
	right: 20px;
	bottom: 0px;
}
.main-navigation .active a:hover{
	background: none;
}
.main-navigation .active span{
	display: block;
	padding: 25px 20px;
}
.user-block{
	max-width: 140px;
	float: right;
}
.login{
	font-size: 16px;
	line-height: 20px;
	color: white;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	position: relative;
}
.login::before{
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: 28px;
	left: 20px;
	background: url("../img/sprites.png") no-repeat;
	background-position: -16px -418px;	
	opacity: 0.3;
}
.login:hover{
	background: #242424;
}
.login:hover::before{
	opacity: 1;
}
.index-logo{
	height: 204px;
	width: 368px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index-logo img{
	height: 204px;
	width: 368px;
}
.features{
	margin-bottom: 80px;
}
.features-item{
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}

.features-item p{
	margin: 10px;
	margin-bottom: 0px;
}
.features-item:last-child{
	margin-right: 0;
}
.features-name{
	font-size: 30px;
	line-height: 42px;
	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;
	position: relative;
}
.features-name::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	transform: rotate(45deg);
}

.index-content{
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000000;
	background: url("../img/separator.png") no-repeat center, #f8f5f2 url("../img/bg.png");
}
.index-content-left{
	float: left;
	width: 380px;
}
.index-content-left .align{
	margin-bottom: 43px;
}
.index-content-right{
	float: right;
	width: 300px;
}
.index-content-title{
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index-content p{
	margin: 0;
	margin-bottom: 25px;
}
.news-preview{
	margin: 0;
	padding: 0;
	padding-right: 75px;
	list-style: none;
}
.news-preview li{
	margin-bottom: 25px;
}
.news-preview p{
	margin-bottom: 0;
}
.news-preview time{
	text-transform: none;
	font-weight: normal;
}
.btn{
	color: #FFFFFF;
	background-color: black;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	transition: all ease 0.2s;
}
.btn.disabled,
.btn:disabled{
	cursor: default;
	opacity: 0.5;
}
.btn:hover,
.btn:active{
	background-color: #663d15;
}
.btn.disabled:hover,
.btn:disabled:hover{
	background: #000;
}
.gallery{
	position: relative;
	height: 260px;
	width: 300px;
}
.gallery .btn{
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery-prev{
	left: 0;
}
.gallery-next{
	right: 0;
}
.gallery-content{
	height: 164px;
	width: 286px;	
	margin: 0;
	background-color: #ccc;
	border: 7px solid white;
}
.gallery-content img{
	height: 164px;
	width: 286px;
}
.appointment-form input{
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000;
	text-transform: uppercase;
	width: 106px;
	padding: 7px 15px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.appointment-form input:nth-child(2n){
	margin-right: 0;
}
.appointment-form .btn{
	clear: both;
	width: 100%;
	margin-top: 15px;
}
.appointment-form input:focus{
	border: 2px solid #663d15;
}

/*Стили внутренних страниц*/

.inner-page-title h1{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs{
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li{
	position: relative;
	display: inline;
	padding-right: 40px;
}
.breadcrumbs li::after{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: black;
	top: 4px;
	right: 18px;
	transform: rotate(45deg);
}
.breadcrumbs .current::after{
	display: none;
}
.breadcrumbs a{
	color: black;
	text-decoration: none;
}
.breadcrumbs a:hover{
	text-decoration: underline;
}
.breadcrumbs .current{
	color: #aba9a7;
}
.inner-content p{
	margin: 14px 0;
}
.inner-content h2{
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}
.inner-content h3{
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 24px;
}
.inner-content h2 + h3{
	margin-top: 30px;
}
.inner-content table{
	border-collapse: collapse;
}
.inner-content td{
	padding: 10px 15px;
	border: 2px solid black;
}
.big-heading{
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}
.big-heading h2{
	position: relative;
	display: inline;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	z-index: 2;
	background: #f8f3f0 url("../img/bg.png") repeat;
}
.big-heading::after{
	content: "";
	position: relative;
	top: -25px;
	display: block;
	border-bottom: 3px solid black;
	z-index: 1;
}
.custom-list-1{
	margin: 14px 0;
	padding: 0;
	list-style: none;
}
.custom-list-1 li{
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom-list-1 li::before{
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
}
.prices-table{
	width: 100%;
}
.prices-table td{
	width: 50%;
}
.prices-table td:last-child{
	text-align: center;
}
.inner-columns{
	margin: 60px 0;
}
.inner-column-left,
.inner-column-right{
	width: 460px;
}
.inner-column-left{
	float: left;
}
.inner-column-right{
	float: right;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child{
	margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child{
	margin-bottom: 0;
}
.item-gallery{
	float: left;
	padding: 0;
	margin: 0;
	margin-top: 50px;
	width: 460px;
}
.item-gallery .main-picture{
	width: 460px;
	height: 498px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.item-gallery .secondary-picture{
	width: 460px;
	height: 149px;
	list-style: none;
	font-size: 0;
	padding: 0;
}
.secondary-picture li{
	width: 140px;
	height: 149px;
	display: inline-block;
	margin-right: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.secondary-picture li:hover{
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
}
.secondary-picture li:nth-child(3n){
	margin-right: 0;
}
.item-discription{
	float: right;
	width: 400px;
	margin-top: 50px;
	padding-left: 60px;
	padding-top: 20px;
}
.pre{
	margin-bottom: 30px;
}
.pre span{
	display: block;
	float: left;
	width: 150px;
}
.pre .current{
	float: right;
	width: 140px;
	color: #aba9a7;
}
.item-discription p{
	margin: 0;
	margin-bottom: 35px;
}
.item-price{
	margin-bottom: 60px;
}
.item-price span{
	display: block;
	max-width: 110px;
	max-height: 40px;
	background-color: #e5e5e5;
	padding: 10px 20px;
	float: left;
}
.item-price .btn{
	float: left;
}
.item-discription h2{
	margin-bottom: 25px;
}
.custom-list-2{
	margin: 14px 0;
	padding: 0;
	list-style: none;
}
.custom-list-2 li{
	position: relative;
	margin-bottom: 0;
	padding-left: 20px;
}
.custom-list-2 li::before{
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: black;
	transform: rotate(45deg);
}
.sidebar{
	padding: 0;
	width: 220px;
	float: left;
	padding-top: 40px;
}
.sidebar fieldset{
	border: none;
	padding: 0;	
	margin: 0;
}
.sidebar fieldset legend{
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 50px;
}
input[type="checkbox"]{
	display: none;
}
.sidebar label{
	line-height: 20px;
	font-size: 14px;
	display: block;
	padding-left: 44px;
	cursor: pointer;
	position: relative;
	margin-bottom: 17px;
}
.makers{
	min-height: 320px;
}
.makers label::before{
	content: "";
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid black;
}
.makers input[type="checkbox"]:checked + i::before{
	content: "";
	position: absolute;
	width: 16px;
	height: 2px;
	top: 9px;
	left: 2px;
	background-color: black;
	transform: rotate(45deg);
}
.makers input[type="checkbox"]:checked + i::after{
	content: "";
	position: absolute;
	width: 16px;
	height: 2px;
	top: 9px;
	left: 2px;
	background-color: black;
	transform: rotate(-45deg);
}
.goods{
	min-height: 270px;
}
input[type="radio"]{
	display: none;
}
.goods label::before{
	content: "";
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid black;
	border-radius: 12px;
}
.goods input[type="radio"]:checked + i::before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 7px;
	top: 6px;
	left: 6px;
	background-color: black;
}
.goods .btn{
	margin-top: 30px;
}
.shop-items{
	padding: 0;
	margin: 0;
	width: 690px;
	float: right;
	margin-top: 40px;
	font-size: 0;
	list-style: none;
	margin-bottom: 25px;
}
.shop-items li{
	width: 220px;
	min-height: 290px;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin-right: 15px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
	transition: all ease 0.2s;
}
.shop-items li:hover{
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
}
.shop-items li:nth-child(3n){
	margin-right: 0;
}
.shop-items li p{
	line-height: 18px;
	padding-left: 15px;
}
.shop-items .item-price{
	margin-left: 15px;
}
.shop-items .item-price .btn{
	padding: 10px 26px;

}
.shop-items .item-price span{
	padding: 10px 20px;
}
.shop-items .item-price .fix{
	padding: 10px 24px;
}
.paginator{
	clear: both;
	height: 42px;
	width: 220px;
	margin-left: 270px;
	font-size: 0;
}
.paginator a{
	display: inline-block;	
	color: white;
	background-color: black;
	font-size: 14px;
	text-decoration: none;
	margin-right: 7px;
	text-align: center;
	padding: 9px 17px;
}
.paginator a:hover{
	background-color:#663d15;
	transition: all ease 0.2s;
}
.paginator .pag-current{
	background-color: white;
	color: black;
	cursor: default;
}
.paginator .pag-current:hover{
	background-color: white;
	color: black;
	cursor: default;
}
.main-footer{
	box-shadow: inset 0 7px 20px rgba(0,0,0,0.6);
	margin-top: 65px;	
	padding-top: 60px;
	padding-bottom: 40px;
	color: #ffffff;
	background: #252525 url("../img/pattern-black.jpg");
}
.footer-contacts{
	width: 320px;
	float: left;
	margin-right: 60px;
}
.footer-contacts a{
	color: #FFFFFF;
}
.footer-contacts a:hover{
	text-decoration: none;
}
.footer-social{
	width: 180px;
	float: left;
	text-align: center;
}
.footer-social p{
	margin: 0;
	margin-bottom: 15px;
}
.social-btn{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	vertical-align: top;
	text-decoration: none;
	background: #000000 url("../img/sprites.png") no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;
}
.social-btn:hover{
	background-color: white;
}
.social-btn-vk{
	background-position: -4px -54px;
}
.social-btn-vk:hover{
	background-position: -4px -4px;
}
.social-btn-fb{
	background-position: -3px -254px;
}
.social-btn-fb:hover{
	background-position: -3px -203px;
}
.social-btn-inst{
	background-position: -3px -154px;
}
.social-btn-inst:hover{
	background-position: -3px -104px;
}
.footer-copyright{
	width: 180px;
	float: right;
	text-align: center;
}
.footer-copyright p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}
.footer-copyright .btn{
	margin-right: 0;

}
.modal-content{
	display: none;
	z-index: 10;
	position: absolute;
	top: 120px;
	left: 50%;
	width: 300px;
	padding: 40px 80px;
	margin-left: -230px;
	color: #000000;
	background: #f8f3f0 url("../img/bg.png");
	box-shadow: 0 10px 50px 5px rgba(0,0,0,0.7);
}
.modal-content-map{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	background: #e9e5dc url("../img/map.png");
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-content-show{
	display: block;	
}
.modal-content-close{
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after{
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}
.modal-content-close::before{
	transform: rotate(45deg);
}
.modal-content-close::after{
	transform: rotate(-45deg);
}
.modal-content h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}
.modal-content p{
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form{
	margin-bottom: 10px;
	margin-top: 0;
}
.login-form input[type="text"],
.login-form input[type="password"]{
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}
.login-form input:focus{
	border-color: #663d15;
}
.login-form input.icon-user{
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 248px -303px;
}
.login-form input.icon-password{
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 249px -353px;
}
.login-form .restore{
	float: right;
	color: #000000;
}
.login-form .btn{
	width: 100%;
	margin-top: 15px;
}

.login-checkbox{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.login-checkbox:hover{
	color: #663d15;
}
.login-checkbox input[type="checkbox"]{
	display: none;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid black;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: black;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
	transform: rotate(-45deg);
}